:root {
    --ion-color-dark: #222;
    --ion-color-dark-rgb: 34,34,34;
    --ion-color-dark-contrast: #fff;
    --ion-color-dark-contrast-rgb: 255,255,255;
    --ion-color-dark-shade: #1e1e1e;
    --ion-color-dark-tint: #383838;
    }